Package: zkdump
Version: 1.01
Section: base
Priority: optional
Architecture: all
Depends: python, python-zookeeper, python-simplejson
Maintainer: dcahill@midokura.com
Description: Simple zookeeper dump script
